/* .home
 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  white-space: nowrap;

}

.home {
  background-image: url('./images/ramen.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */