
.section-1{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  white-space: nowrap;
   background-image: url('../../../../images/ramen.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 100px;

}