.nav-wrapper{
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  /* justify-self: start; */
  justify-self: flex-start;
  /* margin-left: auto; */
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-utensils{
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.fa-cart-plus{
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.fa-cart-plus-mobile{
  display: none;
 
}

/* li:nth-last-child(1){
  display: grid;
  grid-template-columns: repeat(1, auto);
} */

.menu-icon{
  display: none;
}






.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 25px;
  list-style: none;
  text-align: center;
  /* width: 70vw; */
  width: 70vw;
  justify-content: end;
  margin-right: 2.5rem;
  /* margin-left: auto; */
}
/* 
li:first-child{
  margin-left: auto;
} */



.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 80px; */
  justify-content: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem ;
  letter-spacing: 0.1rem;
  
}

.nav-links:hover {
  /* background-color: #1888ff; */
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.order-now-btn{
  /* padding-top: 0.2rem; */
  border-radius: 6px;
  width: 80%;
  background: #1888ff;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}



@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    /* display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease; */

    
    display: flex;
    flex-direction: column;
     /* justify-content: center;
    align-items: center;  */
    position: absolute;
    /* height: auto; */
    /* flex-shrink: 1;  */
    margin-top: 5rem;
    top: -100%;
    width:100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
   
    opacity: 0.5;
    transition: all 0.5s ease;

  }

  .nav-menu.active {
    /* background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1; */
    
    /* background: rgb(148, 146, 145); */
    background: rgba(0,0,0,0.5);
    top: 0;
    justify-content: center;
    align-items: center;
    
    /* opacity: 1; */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }



  .nav-links {
    text-align: center;
    display: table;
    font-weight: bold;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;


  }

  .nav-links:hover {
    /* background-color: #1888ff; */
    /* background-color:white; */
    background-color:white;
    border-radius: 0;
    color: black;
    margin-right: 2.5rem;
    width: 100%;
  }

  /* .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  } */

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: auto;
  
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-cart-plus-mobile{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4rem;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }

  li:nth-last-child(1){
  display: none;

}

.order-now-btn{
  border-radius: 6px;
  width: 30%;
  /* background: #1888ff; */
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5em;
  margin-right: 2.5rem;

}









} 